<footer class="container">
  <div class="row">
    <div class="col-xs-12">
      <h4 class="text-center">Join Us</h4>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12">
        <div class="text-center">
          <a class="facebook social" href="https://facebook.com"></a>
          <a class="twitter social" href="https://twitter.com"></a>
          <a class="google social" href="https://google.com"></a>
          <a class="instagram social" href="https://instagram.com"></a>
          <a class="linkedin social" href="https://linkedin.com"></a>
          <a class="peace social" href="https://....com"></a>
          <a class="youtube social" href="https://youtube.com"></a>
        </div>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12">
        <div class="text-center">
          <a class="footer-link" href="/privacy">Privacy Policy</a>
          <a class="footer-link" href="/terms">Terms of Use</a>
          <a class="footer-link" href="/contact">Contact Us</a>
        </div>
      </div>
  </div>
</footer>
