<div class="text-center" style="padding:2em 0;background-color:#000">
  <div class="input-group" style="max-width:30em;margin:0 auto;">
    <input type="text" class="form-control input-lg" placeholder="Search by Category, Name, Location...">
    <span class="input-group-btn">
      <button class="btn btn-default btn-lg" type="button"
      style="background-color: #00ECC5;border-color: #00ECC5;color: #fff;">Search!</button>
    </span>
  </div>
</div>
