Resources:
  ProfilesTable:
    Type: AWS::DynamoDB::Table
    Properties:
      KeySchema:
        HashKeyElement:
          AttributeName: "email"
          AttributeType: "S"
      ProvisionedThroughput:
        ReadCapacityUnits: 1
        WriteCapacityUnits: 1

  NewProfileQueue:
    Type: "AWS::SQS::Queue"

  NewProfileTopic:
     Type: AWS::SNS::Topic
     Properties:
       Subscription:
         - Endpoint:
             Fn::GetOptionSetting:
               OptionName: NewProfileEmail
               DefaultValue: "nobody@amazon.com"
           Protocol: email
           Protocol: "sqs"
         - Endpoint:
             Fn::GetAtt:  ["NewProfileQueue", "Arn"]

  option_settings:
    - namespace: aws:elasticbeanstalk:container:nodejs:staticfiles
      option_name: /public
      value: /public
    - option_name: NODE_ENV
        value: prod
