Resources:
  ProfilesTable:
    Type: AWS::DynamoDB::Table
    Properties:
      KeySchema:
        HashKeyElement:
          AttributeName: "email"
          AttributeType: "S"
      ProvisionedThroughput:
        ReadCapacityUnits: 1
        WriteCapacityUnits: 1

  option_settings:
    - namespace: aws:elasticbeanstalk:container:nodejs:staticfiles
      option_name: /public
      value: /public
    - option_name: NODE_ENV
      value: prod
