/* general styles */
body {
  font-family: "Muli","Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 16px;
  line-height: 1.4;
  color: #ffffff;
  background-color: #242424;
}

a {
  color: #ffffff;
}

a:hover {
  color: #ffffff;
  text-decoration: none;
}

.showifloggedin {
    display: none !important
}

.loggedin .showifloggedout {
    display: none !important
}

.loggedin .showifloggedin {
    display: block !important
}

.row-condensed {
  margin-left: -6.25px;
  margin-right: -6.25px
}

.row.row-table {
  width: 100%;
  width: calc(100% + 25px)
}

.row-table {
  display: table;
  table-layout: fixed
}

.row-full-height {
  height: 100%
}

.row-space-1 {
  margin-bottom: 6.25px
}

.row-space-top-1 {
  margin-top: 6.25px
}

.col-top,.col-middle,.col-bottom {
  float: none;
  display: table-cell
}

.col-top {
  vertical-align: top
}

.col-middle {
  vertical-align: middle
}

.col-bottom {
  vertical-align: bottom
}

.col-center {
  float: none;
  margin-left: auto;
  margin-right: auto
}


/* NavBar */
.navbar-toggle {
  border-color: #fff;
  margin: 1.5em 1em;
}
.navbar-toggle .icon-bar {
  background-color: #fff;
}
.navbar-collapse.collapsing,.navbar-collapse.collapse.in {
  background:#2f2f2f;
}
.navbar img.logo {
  width: 40px
}
.navbar-nav {
  font-size: 1.5em;
  margin-top: 0.5em;
}

/* Header */
header {
  background-position: center;
  background-size:cover;
  background-image: none;
  background-color: #333;
}

/* Footer */
footer {
  padding-top:2em;
  padding-bottom:2em;
}
footer .social {
  background: url('/images/social-sprite.png') no-repeat;
  display: inline-block;
  height: 50px;
  width: 50px;
}
footer .social.facebook {
  background-position-x: -5px;
}
footer .social.twitter {
  background-position-x: -60px;
}
footer .social.google {
  background-position-x: -120px;
}
footer .social.instagram {
  background-position-x: -180px;
}
footer .social.linkedin {
  background-position-x: -235px;
}
footer .social.peace {
  background-position-x: -295px;
}
footer .social.youtube {
  background-position-x: -353px;
}
footer .footer .footer-link {
  display: inline-block;
  padding: 1em;
}

/* Home Page */
.featured {
  background-color:#fff
}

ul.category-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
ul.category-list li {
  display: inline-block;
  padding: 10px;
  font-size: 16px;
  font-size: 1rem;
  vertical-align: top;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  width: 320px;
}
ul.category-list li:nth-child(4n+2),ul.category-list li:nth-child(4n+3) {
  width: 240px;
}

.category {
  margin: 0 auto 2em;
  background-size: cover;
  background-position: center;
  max-width: 400px;
}
.category-inner {
  padding: 5em 0;
  width:100%;
  background-color: rgba(0, 0, 0, 0.28);
}
.category:hover {
  background-size: 150%;
}
/* Signup Page */

/* Category Page */
#links img {
  margin: 0.2em 0em;
  width: 250px;
}
